spring:
  config:
    activate:
      on-profile: dev

  data:
    redis:
      port: 6379
      host: redis

  datasource:
    url: jdbc:postgresql://postgres:5432/devouk
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.filter: DEBUG
    org.springframework.boot.web.servlet: DEBUG
    com.devouk: DEBUG

management:
  health:
    redis:
      enabled: false